<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fresh Steps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>

{% if session.get("id_usuario") %}
<div class="page-content">
    <nav class="navbar">
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Fresh Steps">
        </div>

        <button class="nav-toggle" id="navToggle">
            <i class="fas fa-bars"></i>
        </button>

        <div class="nav-links" id="navLinks">
            <a href="/">Inicio</a>

            {% if session.rol == "admin" %}
                <a href="/clientes">Clientes</a>
                <a href="/servicios">Servicios</a>
                <a href="/gastos">Gastos</a>
                <a href="/estadisticas">Estadísticas</a>
            {% endif %}

            <a href="/ventas">Venta</a>
            <a href="/ventas/pendientes">Entregas pendientes</a>

            <a href="/logout" class="logout">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            </a>
        </div>
    </nav>


    <hr>
{% endif %}

{% block content %}{% endblock %}
</div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-brand">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Fresh Steps">
                <p>Fresh Steps</p>
            </div>

            <div class="footer-info">
                <p><strong>Dirección:</strong> Alfredo M. Terrazas #935 A</p>
                <p><strong>Teléfono:</strong> 440 200 0320</p>
                <p><strong>Correo:</strong> freshsteps.terrazas@gmail.com</p>
            </div>

            <div class="footer-social">
                <a href="https://www.instagram.com/freshsteps.slp/" target="_blank">
                    <i class="fab fa-instagram"></i> Fresh Steps
                </a>
            </div>
        </div>
    </footer>


    <script>
        const navToggle = document.getElementById("navToggle");
        const navLinks = document.getElementById("navLinks");

        navToggle.addEventListener("click", () => {
            navLinks.classList.toggle("active");
        });
    </script>

</body>
</html>
