{% extends "base.html" %}

{% block content %}

<section class="dashboard-header">
    <div class="dashboard-title">
        <img src="{{ url_for('static', filename='logo.png') }}"
             alt="Fresh Steps"
             class="dashboard-logo">

        <div>
            <h1>Fresh Steps 👟</h1>
            <p>Sistema de control de ventas</p>
        </div>
    </div>
</section>

<section class="dashboard-cards">

    <a href="/estadisticas" class="card card-link card-gradient">
        <h3>📊 Estadísticas</h3>
        <p class="card-number">Ver reportes</p>
    </a>

    <a href="/clientes" class="card card-link card-gradient">
        <h3>👥 Clientes</h3>
        <p class="card-number">Gestión de Clientes</p>
    </a>

    <a href="/servicios" class="card card-link card-gradient">
        <h3>🧼 Servicios</h3>
        <p class="card-number">Servicios Disponibles</p>
    </a>

    <a href="/zapatos" class="card card-link card-gradient">
        <h3>👞 Calzado</h3>
        <p class="card-number">Inventario</p>
    </a>

    <a href="/ventas" class="card card-link card-gradient">
        <h3>🧾 Venta</h3>
        <p class="card-number">Registrar Venta</p>
    </a>

    <a href="/gastos" class="card card-link card-gradient">
        <h3>💸 Gastos</h3>
        <p class="card-number">Registrar Gasto</p>
    </a>

    <a href="/ventas/pendientes" class="card card-link card-gradient">
        <h3>👟 Entregas pendientes</h3>
        <p class="card-number">{{ total_entregas }}</p>
    </a>


</section>

{% endblock %}
