{% extends "base.html" %}

{% block content %}
<h2>👞 Zapatos de {{ cliente.nombre }} {{ cliente.apellido }}</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<button onclick="abrirModal()">➕ Agregar zapato</button>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cerrarModal()">&times;</span>

    <h2 id="tituloModal">Agregar zapato</h2>

    <form method="POST" action="/zapatos/guardar">
      <input type="hidden" name="id_zapato" id="id_zapato">
      <input type="hidden" name="id_cliente" value="{{ cliente.id_cliente }}">

      <input type="text" name="tipo" placeholder="Tipo">
      <input type="text" name="marca" placeholder="Marca">
      <input type="text" name="color_base" placeholder="Color base" required>
      <input type="text" name="color_secundario" placeholder="Color secundario">
      <input type="text" name="material" placeholder="Material">

      <button type="submit">Guardar</button>
    </form>
  </div>
</div>

<table border="1">
<tr>
    <thead>
      <th>Tipo</th>
      <th>Marca</th>
      <th>Color</th>
      <th>Material</th>
      <th>Acciones</th>
    </thead>
  </tr>

  <tbody></tbody>
    {% for z in zapatos %}
    <tr>
        <td>{{ z.tipo }}</td>
        <td>{{ z.marca }}</td>
        <td>{{ z.color_base }} / {{ z.color_secundario }}</td>
        <td>{{ z.material }}</td>
        <td>
            <a href="/zapatos/eliminar/{{ z.id_zapato }}/{{ cliente.id_cliente }}" class="btn-delete" onclick="return confirm('¿Eliminar zapato?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}