{% macro pagination(pagina, total_paginas, endpoint, params={}) %}
<div class="paginacion">
{% if total_paginas > 1 %}

    {% set bloque = ((pagina - 1) // 10) %}
    {% set inicio = bloque * 10 + 1 %}
    {% set fin = inicio + 9 %}
    {% if fin > total_paginas %}
        {% set fin = total_paginas %}
    {% endif %}

    {% if inicio > 1 %}
        <a href="{{ url_for(endpoint, pagina=inicio-10, **params) }}">«</a>
    {% endif %}

    {% for p in range(inicio, fin + 1) %}
        {% if p == pagina %}
            <strong>{{ p }}</strong>
        {% else %}
            <a href="{{ url_for(endpoint, pagina=p, **params) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if fin < total_paginas %}
        <a href="{{ url_for(endpoint, pagina=inicio+10, **params) }}">»</a>
    {% endif %}

{% endif %}
</div>
{% endmacro %}
